main {
	padding-left: 10px;
}

h1 {
	font-family: helvetica, "sans-serif";
	font: #999;
}

p {
	font-family: times, "serif";
}


/*-----------------------
	TOP NAV
-------------------------

.top-nav {
	list-style-type: none;
	display: block;
}

/*-------------------------
	MAILER SIGN UP
---------------------------*/

.mail-box {
	width: 80%;
	max-width: 900px;
	height: 100px;
	background-image: url("root.jpeg") #fff;
	background: #999;
	margin: auto 30px auto 30px;
	text-align: center;
}


/*---------------------------
	MAIN PAGE
-----------------------------*/
.article1 {
	width: 75%;
	max-width: 700px;
	float: left;
}

.root-news {
	width: 25%;
	max-width: 200px;
	float: left;
}

/*---------------------------
	FOOTER
-----------------------------*/

.jimmy-quote {
	border: 2px solid #000;
	height: 25px;
	width: 80%;
	clear: both;

}*/*/
