p {
	font-size: 24px;
	font-weight: bold;
	margin: 5px 0px 0px 0px;
}

/*div:nth-last-of-type(3) {
	clear: left;
}*/

.box:nth-child(2n+4) {
	clear: left;
}

.box {
	margin: 10px 10px 0px 0px;
	float: left;
	background: url('/img/codeup-arrow.png');
	background-repeat: no-repeat;
	background-position: top right;
	padding: 40px 40px 0px 0px; 
}

.inside {
	width: 50px;
	height: 50px;
	/*font-weight: bold;*/
	color: #fff;
	padding: 10px;
	position: relative;
	border: 1px solid black;
}

#red-box { 
	background-color:#D84231;
	font-size: 48px;
}

#orange-box {
	background-color:#EAAE33;
}

#yellow-box {
	background-color:#FDF733;
	
}

#green-box {
	background-color:#578C05;
}

#blue-box {
	background-color:#234AFB;
}

#pink-box {
	background-color:#DF8BF0;
}
