/*html {
		box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit; 
}*/

p {
	font-size: 24px;
	font-weight: bold;
	margin: 5px 0px 0px 0px;
}

img {
	position: absolute;
	top: -40px;
	right: -40px;
}

.box {
	top:50px;
	height: 70;
	width: 70;
	margin: 50px 0px 0px 0px;
}

.inside{
	width: 50px;
	height: 50px;
	font-weight: bold;
	color: #fff;
	padding: 10px;
	float: left;
	position: relative;
	border: 1px solid black;
}

#red-box { 
	background-color:#D84231;
}

#orange-box {
	background-color:#EAAE33;
	left: 50px;
}

#yellow-box {
	background-color:#FDF733;
	left: 100px;
}

#green-box {
	background-color:#578C05;
	clear: left;
	top: 50px;
}

#blue-box {
	background-color:#234AFB;
	left: 50px;
	top: 50px;
}

#pink-box {
	background-color:#DF8BF0;
	left: 100px;
	top: 50px;
}

