html {
	font-family: times, arial, "papyrus", sansserif;
}


article {
	font-size: 48px;
	font-weight: bolder;
}

a {
	font-size: 65px;
	font-family: "papyrus";
	color: #000;
}

p {
	font-family: "arial";
}

#author-name {
	font-size: 36px;
	font-family: "times";
}

#strikethrough-name {
	text-decoration: line-through;
	background-color: #f00;
	display: inline;
}


.left-justified {
	text-align: left;
	text-indent: 80px;
}

.right-justified {
	text-align: right;
	text-indent: 35px;
}

a:link {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}