


h4 {
	border-bottom: 2px dotted #000;
	color: #000;
}


p {
	color: #000;
}

h5 {
	line-height: .75rem;
	color: #000;
}

img {
	box-shadow: 0px 8px 10px #222;
	/*height: 139px;
	max-height: 139px;
	min-height: 139px;*/
	/*min-width: 202.5px;*/
	width: 100%;
}

.container {
	background-image: url("/img/wood.jpg");
	font-family: times, serif;
	margin: 0px;
	max-width: 900px;
	margin: auto;
	padding: 60px 0px;
	height: 100%;
}

.big-rectangle {
	/*background-image: url("wood.jpg");*/
	height: 350px;
	width: 210px;
	background-color: #fff;
	margin-bottom: 35px;
	text-align: center;	
	position: relative;
	padding-bottom: 10px;
}

.offset-custom {
	margin-left: 6.1666%;
}


.h6links {
	position: absolute;
	bottom: 0px;
	width: 100%;
	left: -5px;
}

.small-text {
	font-size: 1.15rem;	
	text-align: justify;
	line-height: 1.25rem;
	margin-bottom: 2rem;
}

.outside-footer {
	text-align: center;
}

.tagline-text {
	color: #fff;
	font-family: times, serif;
	font-size: 1.85rem;
	letter-spacing: .25rem;
}

.script-tagline {
	color: #fff;
	font-size: 1.85rem;
	font-family: 'Pinyon Script', cursive;
	letter-spacing: .15rem;
}